<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>RadioDNS</title>{% endblock %}
    {% load static %}
    <link rel="icon" href="{% static 'frontend/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}" />
</head>
<body>
<header>
    <p>Logo here.</p>
</header>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Start Page</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'service' %}">Station Information</a></li>
            <li><a href="{% url 'slideshow' %}">Visual Content</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>
<div class="content">{% block content %}{% endblock %}</div>
<footer><a href="{% url 'api-root' %}">API</a> git: <a href="https://github.com/mervij/radiodns/commit/{{ commit }}">{{ commit }}</a></footer>
</body>
</html>