{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>RadioDNS</title>{% endblock %}
    {% load static %}
    <link rel="icon" href="{% static 'frontend/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}" />
</head>
<body>
<header>
    <p>Logo here.</p>
</header>
<nav>
    <ul>
        {% url 'index' as index %}
        <li {% if request.path == index %}class="active"{% endif %}><a href="{{index}}">{% translate "Start Page" %}</a></li>
        {% if request.user.is_authenticated %}
            {% url 'service' as service %}
            {% url 'slideshow' as slideshow %}
            {% url 'gallery' as gallery %}
            <li {% if request.path == service %}class="active"{% endif %}><a href="{{service}}">{% translate "Station Information" %}</a></li>
            <li {% if request.path == slideshow %}class="active"{% endif %}><a href="{{slideshow}}">{% translate  "Visual Content" %}</a></li>
            <li {% if request.path == gallery %}class="active"{% endif %}><a href="{{gallery}}">{% translate "Gallery" %}</a></li>
            <li style="float:right;"><a href="{% url 'logout' %}">{% translate "Logout" %}</a></li>
            <li style="float:right;"><a href="{% url 'account' %}#">{% translate "Account" %}</a></li>
            {% if request.user.is_staff %}
                <li style="float:right;"><a href="{% url 'admin:index' %}">{% translate "Admin" %}</a></li>
            {% endif %}
        {% else %}
            {% url 'login' as login %}
            <li style="float:right;" {% if request.path == login %}class="active"{% endif %}><a href="{{login}}">{% translate "Login" %}</a></li>
        {% endif %}
    </ul>
</nav>
<div class="content">{% block content %}{% endblock %}</div>
<footer>
    Copyright &copy; 2021 <a href="https://www.tuni.fi/radiomoreeni/">Radio Moreeni</a>
    <div style="float:right;">
        <a target="_blank" href="/docs">{% translate "Help" %}</a>
        <a href="https://github.com/mervij/radiodns">GitHub</a>
    </div>
</footer>
</body>
</html>