body {
    display: block;
    color: #6f6f6f;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 1em;
    background-color: white;
}

header {
    display: block;
    background-color: #f0f0f0;
    height: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eaeaea;
}

li {
    float: left;
}

li a {
    display: block;
    color: #73308a;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

.active {
    background-color: white;
}

h1 {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.content {
    padding: 10px 25px;
}

input[type=text], input[type=url], textarea {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
    padding: 6px 10px;
    box-sizing: border-box;
    display: inline-block;
}

input[type=button], input[type=submit] {
    background-color: #73308a;
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:#5e2870;
}

input[type=file] {
    padding: 10px 0;
}

button {
    background-color: #73308a;
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

footer {
    display: block;
    background-color: #f0f0f0;
    padding: 10px 25px;
}